body {
    background-image: url("./dynamic-style.png")
}

nav {
    background-color:#ffffff;
    display: inline-block;
    
}

.navbar {
    padding:0;
}

.navbar-text {
    color:#777777;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}

.navbar-brand {

        background-color: #4aaaa5;
        margin-left:15%;
        margin-right:40%;
}

h1 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    width:960px;
    margin-top:30px;
    background-color:white;
}

h2 {
    color: #4aaaa5;
    padding: 15px;
    padding-top: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

img {
    height:200px;
    margin-left:1em;
    margin-right: 1em;
}

p {
    line-height: 2.6;
}

.footer-copyright {
    border-top: 8px solid #4aaaa5;
    color: white;
    background-color: #666666;
    padding: 10px;
    font-size:small;
    margin-top:20px;
}

.footer-margin {
    bottom: 0;
    width: 100%;
    
  }

  form {
      background-color: white;
      
      margin-top:30px;

  }

  .form-control {
      margin-left:20px;
      margin-top:10px;
      width:850px;
  }

  .form-group {
      margin-left:20px;
      width:900px;
  }

  .message {
      margin-top:10px;
      margin-left:20px;
      width:850px;
      height:300px;
  }

  button{
      margin-left:40px;
      background-color:#4aaaa5;
      color: white;
      margin-bottom:20px;
  }

  label {
      margin-left:20px;
  }

  .col2 {
      margin-bottom:20px;
      margin-right:10px;
  }

  .col4 {
    margin-bottom:20px;
    margin-right:10px;
}

.col6 {
    margin-bottom:20px;
   
}

  .img2{

    width:200px;
      height: 200px;
  }

  .img3{

    width:200px;
      height: 200px;
  }

  .img4{

    width:200px;
      height: 200px;
  }

  .img5{

    width:200px;
      height: 200px;
  }

  .img6{

    width:200px;
      height: 200px;
  }